body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(../images/formValidationBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Form Starts */

.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formInput {
    margin-bottom: 20px;
}

.formButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.formButton:hover {
    background-color: #0056b3;
}

/* Form Ends */

/* Memory Match Game Starts */

#memoryGameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(5, 89, 89);
    border: 5px solid #0df020;
    margin: 10px;
    height: 100px;
    width: 100px;
}

/* Memory Match Game Ends */