body, h1, p, div, form, input, button
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(../images/formValidationBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
input {
    width: 300px;
    /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#memoryGameBoard {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 48, 29, 0.2);
}
.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ab4242;
    border: 1px solid #000;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}