.formContainer {
    position: absolute;
    background: blanchedalmond;
    display: flex;
    width: 70%;
    left: 50%;
    right: 50%;
    top: 50;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
}

